body {
    background-color: rgb(30, 30, 30);
}

div.container {
    display: flex;
    justify-content: end;
    margin-left: 20%;
    margin-top: 4%;
    margin-right: 20%;
}


img {
    width: 35%;
}

button {
    text-align: center;
    padding: 6px;
    border: none;
    border-radius: 2px;
}

.scoreAll {
    border: 3px white solid;
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
    height: 50vh;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.rock {
    justify-content: center;
    text-align: center;
    border:2px solid rgb(255, 255, 255);
    padding:1%;
}

.rockButton{
    margin-top: 2%;
}

.rockButton:hover{
    background-color: rgb(189, 186, 186);
}

.paper {
    justify-content: center;
    text-align: center;
    border:2px solid rgb(255, 255, 255);
    padding:1%;
}

.paperButton{
    margin-top: 2%;
}

.paperButton:hover{
    background-color: rgb(189, 186, 186);
}

.scissor {
    justify-content: center;
    text-align: center;
    border:2px solid rgb(255, 255, 255);
    padding:1%;
}

.scissorButton{
    margin-top: 2%;
    margin-bottom: 2%;
    
}

.scissorButton:hover{
    background-color: rgb(189, 186, 186);
}

.playerScore{
    color: white;
}