body {
    background-color: rgb(30, 30, 30);
}

div.container {
    display: flex;
    justify-content: end;
    margin-left: 20%;
    margin-top: 4%;
    margin-right: 20%;
    border: 3px white solid;
}


img {
    width: 35%;
}

button {
    text-align: center;
    padding: 6px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.scoreAll {
    border: 3px white solid;
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
    height: 320px;
    display: flex;
}

.rock {
    justify-content: center;
    text-align: center;
    border: 3px white solid;
    padding-top: 2%;
    padding-bottom: 1%;
}

.rockButton:hover{
    padding: 9px;
}

.paper {
    justify-content: center;
    text-align: center;
    border: 3px white solid;
    padding-bottom: 1%;
    padding-top: 2%;
}

.paperButton:hover{
    padding: 9px;
}

.scissor {
    justify-content: center;
    text-align: center;
    border: 3px white solid;
    padding-bottom: 5%;
    padding-top: 2%;
}

.scissorButton:hover{
    margin: 9px;
}

.playerScore{
    color: white;
}